
<div class="container-fluid">
  <div class="row">

    <div class="col-xl-4">
    <div id="fondoCalc" class="calculator">
    <input id="display" class="display" type="text" [value]="input" (input)="updateDisplayValue($event)" readonly>
      <div class="keypad">

        <div class="row">
          <div class="col-3"><button (click)="clearInput()">AC</button></div>
          <div class="col-3"><button (click)="deleteLastCharacter()"> ⌫</button></div>   

        </div>
        <div class="row">
          <div class="col-3"><button (click)="appendInput('7')">7</button></div>
          <div class="col-3"><button (click)="appendInput('8')">8</button></div>
          <div class="col-3"><button (click)="appendInput('9')">9</button></div>
          <div class="col-3"><button class="op" (click)="appendInput('+')">+</button></div>
        </div>
        <div class="row">
          <div class="col-3"><button (click)="appendInput('4')">4</button></div>
          <div class="col-3"><button (click)="appendInput('5')">5</button></div>
          <div class="col-3"><button (click)="appendInput('6')">6</button></div>
          <div class="col-3"><button class="op" (click)="appendInput('-')">-</button></div>
        </div>
        <div class="row">
          <div class="col-3"><button (click)="appendInput('1')">1</button></div>
          <div class="col-3"><button (click)="appendInput('2')">2</button></div>
          <div class="col-3"><button (click)="appendInput('3')">3</button></div>
          <div class="col-3"><button class="op" (click)="appendInput('*')">x</button></div>
        </div>
        <div class="row">
          <div class="col-3"><button (click)="appendInput('.')">.</button></div>
          <div class="col-3"><button (click)="appendInput('0')">0</button></div>
          <div class="col-3"><button (click)="appendInput('π')">π</button></div>
          <div class="col-3"><button class="op" (click)="appendInput('/')">÷</button></div>    
        </div>
        <div class="row">
          <div class="col-3"><button class="op" (click)="appendInput('Math.sqrt')">√</button></div>
          <div class="col-3"><button class="op" (click)="appendInput('(')">(</button></div>
          <div class="col-3"><button class="op" (click)="appendInput(')')">)</button></div>
          <div class="col-3"><button class="op" (click)="appendInput('^')">^</button></div> 
        </div>
        <div class="row">
          <div class="col-3"><button class="trig" (click)="appendInput('cos')">cos</button></div>
          <div class="col-3"><button class="trig" (click)="appendInput('sin')">sen</button></div>
          <div class="col-3"><button class="trig" (click)="appendInput('tan')">tan</button></div>
          <div class="col-3"><button class="igual" (click)="calculate()">=</button></div> 
        </div>
      </div>
    </div>
  </div>


  <div class="col-xl-4">
    <div id="history-container" class="Hcontainer">      
      <h3>Historial</h3>
      <div class="operations-container">
      <ul id="history-list">
        <li *ngFor="let item of getHistory(); let i = index">
          {{ item.operation }} = {{ item.result }}
          <div class="button-container">
          <button class="delete-history" (click)="deleteHistoryEntry(item)">x</button>
          </div>
        </li>
      </ul>
    </div>
      <button class="clear-history" (click)="clearHistory()">Clear</button>
    </div>
  </div>  

  <div class="col-xl-4">
  <div id="---" class="config">   
      <h3>Configuración</h3>

      <button id="tema1Button" (click)="cambiarTema('tema1')">Tema 1</button>
  <button id="tema2Button" (click)="cambiarTema('tema2')">Tema 2</button>
  
  <button id="boton1" class="tema1">Botón 1</button>
  <button id="boton2" class="tema1">Botón 2</button>
  <button id="boton3" class="tema2">Botón 3</button>
  <button id="boton4" class="tema2">Botón 4</button>

    </div>
  </div>
    
  </div>
</div>


  
  
